.authors-container {
    background-color: rgb(202, 195, 195);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}


/* .card {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: rgb(107, 102, 102);
    color: white;
    border-radius: 10px;
    border: 2px double white;
    cursor: pointer;
} */



.authors-container {
  /* background-color: white; */
  width: 100%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.card {
  width: 200px;
  height: 290px;
  
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  
}

.card-image {
  width: 100%;
}