* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


button, input {
    all: unset;
}

a, button {
    cursor: pointer;
}

.container {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    max-width: 700px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: rgb(174, 207, 207);
    border-radius: 20px;
    
}


.titles {
    display: flex;
    gap: 50px;
    
    border-bottom: 1px solid green;
   

}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    border: 3px solid rgba(50, 94, 225, 0.359);
    padding: 10px;
    border-radius: 7px;
    

}

.authorization2 button, .registration button {
   
     border: 1px solid black;
     text-align: center;
     width: 200px;
     margin: 40px auto 0 auto;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(75, 88, 75);
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    
}

label span {
    color: red;
    font-size: 1.3rem;
}

.titles * {
    cursor: pointer;
    padding-bottom: 30px;
    
}

.border-active {
    border-bottom: 1px solid black;

}


.registration-hidden {
    display: flex;
    flex-direction: column;
     gap: 10px;
}


.hidden {
    display: none;
}