.authors-container {

  
  width: 100%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
   
}



.search-div  {
  max-width: 500px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0px 10px;
  color: rgb(0, 0, 0);

  

}

.search-div  input {
  border-radius: 10px;
  padding: 10px;
  background-color: unset;
  width: 100%;
}

.search-div img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.search-div:hover  {
  border-color: #2C3E50;
  background-color: rgb(255, 255, 255);
  
}



.card {
  width: 200px;
  height: 290px;
  background-color:  #46627f;
  
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  border: 2px solid  #2b3846;
   
  cursor: pointer;
   box-shadow: -9px 9px 18px #5a5a5a,
              9px -9px 18px #ffffff;

  transition: .4s;
  
  
}

.card-image-container {

  width: 100%;
  overflow: hidden;
  
}

.card-image {
  
  width: 100%;
  
  object-fit: contain;
   object-position: left; 
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px #5a5a5a;
}

.author-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 70px;
}