* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container, .container2, .comments {
    display: flex;
    background-color: rgb(182, 196, 196);
    gap: 20px;
    margin: 20px;
    padding: 20px;
}


.info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
   
}

.image-area p {
  text-align: center;
  margin-bottom: 10px;
}




.image-area img {
    width: 270px;
    border-radius: 20px;
    margin-bottom: 15px;
}


.author, .read {
  background-color: rgba(200, 164, 164, 0.6);
  width: 200px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}







.readed, .will-read {
  
 
   margin-right: 20px;
  margin-top: 30px;
  text-align: center;
  padding: 7px;
  border-radius: 10px;
  font-size: 1rem;
  margin: 10px 0;

  background-color: #4b6580;

  color: white;
  outline: 3px solid  rgb(255, 255, 255);
  cursor: pointer;
}

.read:hover {
  background-color: rgb(185, 123, 102);
}




.comments {
  flex-direction: column;
  
}

.comments h3 {
  color: rgb(85, 83, 83);
}

.comment {
  display: flex;
  gap: 10px;
  
  
}

#input-comment {
  width: 100%;
  
}

.profile-comment {
  background-color: rgb(221, 207, 210);
  padding: 14px;
  border-radius: 10px;
  width: 100%;
  position: relative;

}

.profile-image, .profile-image-active {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: aquamarine;
  flex-shrink: 0;
  overflow: hidden;
}

.profile-image img, .profile-image-active img{
  width: 100%;
}




.profile-comment img {
  position: absolute;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
  
  
}

.comment-owner {
  font-weight: bold;
  margin-bottom: 8px;
}
.comment-itself {
  color: rgb(85, 83, 83);
}

.delete-comment {
  position: absolute;
  right: 14px;
  bottom: 12px;
  font-size: 0.9rem;
  background-color: rgb(208, 72, 72);
  padding: 2px;
  border-radius: 5px;
  color: white;
  cursor: pointer;



}


.radio {
  display: block;
}

@media (max-width: 768px) {
 
  

 .container {
    flex-direction: column;
    
 }

 .image-area img  {
    display: block;
    margin: 0 auto;
    width: 200px;

    
 }
.info {
  align-items: center;
}


.container2 {
  flex-direction: column;
  align-items: center;
}

}






.radio {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.radio > input {
  position: absolute;
  appearance: none;
}

.radio > label {
  cursor: pointer;
  font-size: 24px;
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}




.radio > label::after {
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%) scale(0);
}

.radio > label:hover::before,
.radio > label:hover::after {
  opacity: 1;
  transform: translateX(-50%) scale(1.5);
}


.radio > label:hover,
.radio > label:hover ~ label {
  fill: #ff9e0b;
}

.radio input:checked ~ label svg {
  fill: #ffa723;
}

.existing-rating {
 
  text-align: center;
  font-size: 30px;
}

.existing-rating svg {
  fill: #ff9e0b;
  font-size: 24px;
  
}

.container2 {
  position: relative;
}


.notification {
  
   background-color:  rgba(116, 156, 197, 1);
   border-radius: 20px;
   color: white;
   
    width: 200px;
    z-index: 9999;
    padding: 1.2rem;
  
   
   
}