/*  ზოგადი css */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  "Noto Serif Georgian", serif;
    color:  #333333;
}

body {
    background-color: #F4F4F9
}


button, input, textarea {
    all:  unset;
}

a {
    color: black;
    text-decoration: none;
    
}


header {
    
    width: 100%;
    display: flex;
    position: fixed; 
    top: 0;
    z-index: 999999;
    padding: 10px; 
    align-items: center; 
    background-color:   #2C3E50




}
nav a {
    font-size: 1.1rem;
 
    color: #ECF0F1

}

.logo {
    margin-right: 20px;
}

.imagelogo {
    width: 50px;
     
}

.nav1, .authorization {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.menu-icon-image {
    width: 30px;
}

.profile-icon{
    width: 30px;
}

.authorization {
    background-color:  rgb(203, 88, 88);
    padding: 10px;
    border-radius: 9px;
    cursor: pointer;
    position: absolute;
    right: 10px;
   
}


.authorization a {
    display: flex;
    align-items: center;
}


.profile-container {
    position: relative;

    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;

}



.profile {
  background-color: rgb(125, 125, 181);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
    object-fit:cover;
   object-position: top; 
  
}



.profile-more {
  width: 200px;
  padding: 30px;
  background-color: rgb(124, 177, 214);
  position: absolute;
  top: 0;
  right: 73px;
  z-index: 99999;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  
  
  
}




.logout {
    margin-right: 20px;
  margin-top: 30px;
  text-align: center;
  padding: 7px;
  border-radius: 10px;
  font-size: 1.1rem;
  margin: 10px 0;

  background-color: #4b6580;

  color: white;
  outline: 5px solid  rgb(255, 255, 255);
  
  cursor: pointer;
  
}



.nav2 {
  
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color:  #F4F4F9;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  z-index: 9999999;
  inset: 0;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
   border: 10px dotted rgb(44, 62, 80, 0.5);
   
  
  

}

.nav2 a {
    color: #2C3E50;
   
   
}

.nav2 a:hover {
    font-size: 1.3rem;
    border-bottom: 4px double #60a2e3;
    
}

.nav2 img  {
  width: 35px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  background-color: #95bde6fc;
  border-radius: 50%;
  padding: 10px;

}


.hidden {
    display: none !important;
}





main {
    min-height: 100vh;
    width: 100%;
    margin-top: 66px;
    padding: 30px;
    background-color: #F4F4F9
}



.profile-image-main {
    width: 100%;
  
}


button {
    background-color: #D35400
}



.authorization, 
.profile-container {
    display: none !important;
}


.auth-visible {
    display: flex !important; 
}
