.personal-page {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 10px dotted rgb(226, 209, 209);
    
}

main {
    position: relative;
}


.personal-image  {
    width: 150px;
    position: relative;



}

.profile-image {
   width: 100%;
   height: 150x;
   object-fit:cover;
   object-position: top; 
   border-radius: 50%;
   border: 4px solid rgb(135, 134, 125);
}

.name-email {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    
    font-size: 1.8rem;
    
    
}
.personal-email {
    font-size: 1.2rem;
    color: rgb(98, 96, 96);
}

.personal-name {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #2f2e2e;
    position: relative;
    
    
}

.camera-img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    z-index: 9999;
    bottom: -2%;
    right: 20%;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 2px 2px 3px black;
   

}

.camera-img:hover {
    width: 43px;
    border: 2px solid red;
}

.camera-img:active {
    width: 30px;
    border: 2px solid red;
}


.input-image {
    
    display: none;

    
}

.card {
    background-color: rgba(75, 107, 149, 0.2);
    align-items: center;
    display: flex;
    gap: 20px;
     border-radius: 10px;
   overflow: hidden;
}

.read-book-info {
   
    width: 100%;
    height: 100%;
    padding: 10px;

}

.card-image {
    width: 100px;
    height: 100%;
    
}




.read {
    display: flex;
   
   flex-direction: column;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
   
}


.profile-books {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    
}




.my-shelf p {
    text-align: center;
    margin: 15px 0;
    font-size: 1.2rem;
    width: 100%;
    
} 


.change-info:active {
     color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}


.info-detailed {
    position: absolute;
   background-color:  rgba(116, 156, 197, 1);
   border-radius: 20px;
   color: white;
   padding: 30px;
    width: 50%;
    z-index: 9999;
    top: 20%;
    left: 50%;
    
    transform: translateX(-50%);
    

    

}



.close-image {
    
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.close-image img {
    width: 30px;
    background-color: #2f2e2e;
    cursor: pointer;
   
}
.close-image img:hover {
    padding: 3px;
    border: 1px solid white;
}
.info-detailed input {
    border: 3px solid #4b6b95;
    padding: 10px;
    border-radius: 7px;


}

.info-detailed input:focus {
    background-color:  #F4F4F9;
}

.info-detailed button {
     
    width: 100%;
    text-align: center;
    padding: 7px;
    border-radius: 10px;
    font-size: 1.1rem;
    margin: 10px 0;
   
    background-color: #4b6580;
    color: white;
    outline: 3px solid  rgb(245, 230, 230);
    cursor: pointer;
}

.info-detailed input::placeholder {
  color: white;
}


form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

input {
    border: 3px solid rgba(50, 94, 225, 0.359);
    padding: 10px;
    border-radius: 7px;
    
    

}

input:focus::placeholder {
  color: transparent;
}




.edit-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  
  text-decoration: none !important;
 
}

 .edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}



.edit-svgIcon path {
  fill: white;
}







form > label {
    color: white;
}

.remove-book {

  margin-top: 30px;
  text-align: center;
  padding: 4px;
  border-radius: 10px;
  font-size: 1rem;
  

  background-color: #4b6580;

  color: white;
  outline: 2px solid  rgb(255, 255, 255);
  cursor: pointer;
}


.remove-book:hover {
   border: 2px solid rgba(128, 128, 128, 0.5);
  box-shadow: 0 0 20px #6fc5ff50;
  
}

.remove-book:active {
   

  
  box-shadow: none;
  transform: scale(0.98);
}



@media (max-width: 768px) {
 
  .card {
   flex-direction: column;
  
   width: 150px;
   background-color:rgb(182, 201, 223, 0.2);
   padding-bottom: 20px;
   border-radius: 10px;
   overflow: hidden;
   align-items: center;
   justify-content: center;
      background-color:rgba(3, 92, 195, 0.2);
   
  }

  .card-image {
   width: 150px;
  }

  .read-book-info {
    justify-content: center;
    align-items: center;
  }

 .info-detailed button {
    font-size: 0.8rem;

 }

}